<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h3>Hi <%= @client.first_name %>,</h3>
            <br />
            <p>
              Welcome and thank you for joining <a href="http://positivflo.com">PositivFlo.com</a>. We are excited to have you as a part of the team and we are looking forward to helping you schedule and pay for your Personal Training Sessions.
            </p>
            <p>
              Please read and accept our Terms and Conditions if you haven’t already. Click <%= link_to "here", client_terms_url(@client) %> to Read and Accept.
            </p>
            <p>
              Positiv Flo not only provides you with automated scheduling and secure billing, it also allows you to track your progress and see the benefits of working with your personal trainer. <!-- You can also purchase supplements via your Personal Trainer that will be delivered to your door. -->
            </p>
            <p>
              We will contact you with details on new features on the app and specials. To ensure our emails reach your inbox, please add our address to your contact list.
            </p>  
            <p>
              Please email any suggestions, feedback or questions to <a href="mailto:info@positivFlo.com">info@positivflo.com</a>.
            </p>
            <p>
              Thanks again for signing up!
            </p>
            <p>
              <strong>The Positiv Flo Team</strong>
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>