<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h3>Hi <%= @trainer.first_name %>,</h3>
            <br />
            <p>
              Please find attached your recently requested CSV file.
            </p>  
            <p>
              Thanks Again!
            </p>            
            <p>
              <strong>The Positiv Flo Team</strong>
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>