<h1>500 Error occured</h1>

<p>
  <strong>Body: </strong> <%= @request[:body] %>
</p>  

<p>
  <strong>Error: </strong><%= @message %>
</p>  

<p>
  <strong>Stacktrace: </strong> <%= @backtrace %>
</p>  