<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h3>Hi <%= @client.first_name %>,</h3>
            <br />
            <p>
              This email is sent to inform you that the session rate with with <%= @trainer.first_name %> has changed.
            </p>
            <p>
              The new rate for your new training sessions will be $<%= @client.session_rate %> per session.
            </p>

            <p>
              Thanks again!
            </p>
            <p>
              <strong>The Positiv Flo Team</strong>
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>