<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>
            <h3>Hi <%= @trainer.first_name %>,</h3>
            <br />
            <p>
              Welcome and thank you for joining PositivFlo. We are excited to have you as a part of the team and we are looking forward to helping you build your Personal Training business.
            </p>
            <p>
              Positiv Flo allows you to run your business seamlessly across scheduling, automatic billing, tracking and client management. View this <%= link_to "short video", "https://www.youtube.com/watch?v=mvaW96wmzSw"%> to get a better idea of what the app can do for you.
            </p>
            <p>
              We will contact you with details on new features on the app and specials. To ensure our emails reach your inbox, please add our address to your contact list.
            </p>
            <p>
              Please email any suggestions, feedback or questions to <a href="mailto:info@positivFlo.com">info@positivflo.com</a>.
            </p>
            <p>
              Thanks again for signing up!
            </p>
            <p>
              <strong>The Positiv Flo Team</strong>
            </p>
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
