<% provide(:title, "Missing Page") %>
<h3>404 Not Found</h3>

<p>
  Whoops! You've stumbled across a missing page. You may have mistyped the address or the page may have moved. Please check the URL and try again.
</p>