<% provide(:title, "Client Terms") %>
<h3>Positiv Flo Terms and Conditions for Personal Training Clients</h3>

<h4>1.	Introduction</h4>
<ol type="a">
	<li>Positiv Flo Pty Ltd ("Positiv Flo") is an Australian Company (ACN 168 877 138) based in Western Australia that has developed an iOS application and integrated website.</li>
	<li>Positiv Flo provides a software service through the iOS application and website that enables:
	<ol type="i">
		<li>Personal Trainers to accept bookings from their clients (referred to here as "Client" or "you") for training sessions, manage their business and otherwise schedule Client sessions and other appointments;</li>
		<li>the transfer of payments from a Client to the Personal Trainer who provided the Client with training services;</li>
		<li>the Personal Trainer to manage their own Client directory and information about their Clients in a secure and effective manner;</li>
		<li>the Personal Trainer to maintain their professional profile which is publicy available to existing and prospective clients through the website of Positiv Flo and enables clients to seek out Personal Trainers;</li>
		<li>Positiv Flo to maintain a directory of Personal Trainers which is publicly available;</li>
		<li>Clients to purchase goods through the online store; and</li>
		<li>monitoring and reporting of a Client's personal fitness history and progress.</li>
	</ol>
	All of these services are collectively known as the "Software Solution".
	</li>
	<li>From your perspective as a Client, the Software Solution provides a convenient means for booking training sessions with your preferred Personal Trainer, paying for those training sessions, monitoring your fitness progress, and potentially purchasing products which may assist your fitness progress.</li>
	<li>Each Client should read these Terms and Conditions carefully prior to accessing the Software Solution.</li>
</ol>

<h4>2.	Acceptance of these Terms and Conditions </h4>
<ol type="a">
	<li>These Terms and Conditions record an agreement between you, as the Client, and Positiv Flo for the purpose of you accessing and using services, which are included within the Software Solution, by way of your Personal Trainer.</li>
	<li>By registering your profile with a particular Personal Trainer's Positiv Flo account (whether or not, at the same time, you book a training session) you are accepting and agreeing to be bound by these Terms and Conditions.</li>
	<li>Positiv Flo reserves the right to make changes to these Terms and Conditions from time to time without notice.  You will be able to discontinue and/or refrain from use of the Software Solution following such changes, should you choose to do so.  If you continue to access and use one or more of the Software Solution services after such changes this will constitute your acceptance of the changes.</li>
	<li>As the provider of the Software Solution, Positiv Flo reserves the right to terminate your registration without notice should you breach these Terms and Conditions.</li>
	<li>These terms mean the following:
	<ol type="i">
		<li>"Business Days" are Monday through Friday inclusive, exclusive of public holidays recognised in Western Australia.</li>
		<li>"Business Hours" are 8:30am to 5:30pm Australian Western Standard Time during Business Days.</li>
		<li>"Financial Institution" means an institution that provides financial services for its clients or members, such as a bank.</li>
		<li>"GST" has the same meaning as in A New Tax System (Goods and Services Tax) Act 1999 (Cth).</li>
		<li>"Personal Trainer" means a fitness professional involved in exercise prescription and instruction who has an account with Positiv Flo.</li>
	</ol>
	</li>
	<li>These Terms and Conditions are in accordance with the laws of Western Australia and the Commonwealth of Australia (as applicable).  Disputes arising from your use of the Software Solution are exclusively subject to the jurisdiction of the courts of Western Australian and the Commonwealth of Australia (as applicable).</li>
</ol>

<h4>3.	Registration</h4>
<ol type="a">
	<li>At the time you register with Positiv Flo, various personal information will be collected from you including your correct legal name, a valid email address, a valid billing address, a valid delivery address, your valid Australian mobile phone number, a valid Australian credit card number or a valid Australian debit card number and any other information requested of you to complete the sign up process ("Client Data").  If you fail to supply sufficient and correct Client Data it may result in Positiv Flo refusing or cancelling your registration with Positiv Flo.</li>
	<li>Subject to clause 10 below, you may only access your registration with Positiv Flo through your Personal Trainer.  You agree to update your Client Data by way of your Personal Trainer in a timely manner, if there are any changes to one or more details in that Client Data, to ensure that your Client Data held by Positiv Flo for your registration is current and accurate at all times.</li>
	<li>You agree to permit Positiv Flo to use the Client Data for the purpose of providing the functionality of the Software Solution and any related purpose.  You acknowledge that, in order to do so, Positiv Flo may share the Client Data with other parties, including stakeholders and suppliers, as provided for in these Terms and Conditions.</li>
	<li>You authorise Positiv Flo or its agent to debit your account at the relevant Financial Institution connected with the payment details identified and provided in your Client Data ("Your Account") with the fees payable under these Terms and Conditions.</li>
	<li>You are responsible for all activities that occur in connection with your registration with Positiv Flo, and Positiv Flo will not be liable for any loss or damage from any acts or omissions in relation to your registration.</li>
	<li>You agree to use the Positiv Flo software for its intended purpose.  You may not use the software for any illegal or unauthorised purpose, including the transmission of malware.  You must not use the service to violate any laws in your jurisdiction, including but not limited to copyright laws.</li>
</ol>

<h4>4.	Data Use</h4>
<ol type="a">
	<li>All Client Data will be stored and maintained by or on behalf of Positiv Flo in accordance with Australian law.</li>
	<li>Positiv Flo's use of any personal information contained within the Client Data will be in accordance with its Privacy Policy, a copy of which is available on the Positiv Flo website at <a href="http://www.positivflo.com/privacy">www.positivflo.com/privacy</a>.</li>
</ol>

<h4>5.	Notifications and Scheduling of Personal Training Appointments</h4>
<ol type="a">
	<li>Once a personal training appointment has been arranged between you and your Personal Trainer, an automated SMS notification will be sent to you (in accordance with the details provided in your Client Data) 48 hours before the scheduled personal training appointment.</li>
	<li>You must then follow the instructions on the SMS notification to accept or reject the appointment no less than 24 hours prior to the scheduled start time of your appointment.</li>
	<li>You must give at least 24 hours' notice, via the instructions on the SMS notification, to cancel the appointment with the Personal Trainer.  Subject to clause 5(e) below, you will be charged the full cost of the scheduled personal training appointment and any associated fees if you (i) cancel that appointment less than 24 hours prior to its scheduled start time; or (ii) fail to respond to the SMS notification prior to the time which is 24 hours prior to the start time of the scheduled appointment.</li>
	<li>If for any reason you are not able to follow the instructions on the SMS notification, such as the website being down for maintenance, you must provide notification to your Personal Trainer in writing (for example, by SMS or email) either accepting or rejecting the appointment no less than 24 hours prior to the scheduled start time of the appointment.  The provisions of this clause 5 otherwise apply.</li>
	<li>If you (i) cancel an appointment less than 24 hours prior to its scheduled start time; or (ii) fail to respond to the SMS notification prior to the time which is 24 hours prior to the start time of the scheduled appointment, your Personal Trainer has the right to offer the proposed time as an appointment to another Client.  If your Personal Trainer is able to arrange an alternate personal training appointment at the time which was scheduled for your appointment, you will not be charged for the appointment which you cancelled or for which you failed to respond to the SMS notification.</li>
</ol>

<h4>6.	Payment Terms for Personal Training Services</h4>
<ol type="a">
	<li>Fees for use of the Software Solution and any other amounts payable for Positiv Flo's services are published on the Positiv Flo website and are charged in Australian Dollars.  Positiv Flo reserves the right to amend this pricing from time to time at its discretion.  The fee which a Personal Trainer charges you as a Client for training services is agreed between the Personal Trainer and you.</li>
	<li>Positiv Flo will charge you for the Personal Trainer's fee per training session (as agreed between you and the Personal Trainer), plus an additional fee payable to Positiv Flo in relation to each training session for the Client's use of the Software Solution.  The total of fees payable under clause 5(c) and this clause 6(b) for each training session during the calendar week Saturday to Friday inclusive will be charged to you on the Friday which concludes that calendar week.</li>
	<li>The amount charged to the Client will appear on the Client's Financial Institution account statement with the name "Positiv Flo".</li>
	<li>Any request for a refund for, or dispute in relation to, personal training fees is a matter between the Client and the Personal Trainer.  Positiv Flo has no obligation or responsibility in respect of any such request or dispute.</li>
	<li>If sufficient funds are not available in Your Account, or there is an inaccuracy in your Client Data, at the time when the total fees payable for the week are charged to Your Account in accordance with clause 5(c) and clause 6(b) above, such that Positiv Flo cannot complete the process of charging the fees as provided for under these Terms and Conditions: 
	<ol type="i">
		<li>Positiv Flo will issue an SMS notification to you as the Client informing you that the fees could not be charged to Your Account and requesting that you rectify the situation in order to allow Positiv Flo to charge the fees as provided for under these Terms and Conditions by 12.00pm on the following Business Day.  You will be asked to rectify any inaccuracy in Client Data directly with the Personal Trainer.  You will be responsible for ensuring sufficient funds are in Your Account. </li>
		<li>A fee (as notified in accordance with clause 6(a) above) may be charged by Positiv Flo to cover reasonable administrative and processing costs resulting from a declined payment, in addition to any charges which may be payable by you to your Financial Institution (for which Positiv Flo is not liable). </li>
		<li>Positiv Flo may charge you interest on all late payments at a rate of 15% per annum.</li>
		<li>Positiv Flo will repeat the attempt to charge the fees payable under clause 6(b) above at 12:00pm on the following Business Day.  If on this second attempt Positiv Flo again cannot complete the process of charging the fees as provided for under these Terms and Conditions, the fees payable will be considered "late" and this will constitute a breach of these Terms and Conditions.  </li>
	</ol>
	</li>
	<li>Where a Client has a late payment of fees under clause 6(e)(iv), without limiting Positiv Flo's rights or those of the Personal Trainer the Client will be deactivated from the Personal Trainer's Client registry until such time until payment is received.</li>
	<li>Any late or outstanding payment of fees will remain as a debt owed to the Personal Trainer and to Positiv Flo.  Positiv Flo retains its right to recover debts owed and may use debt recovery processes to do so.</li>
	<li>Each Personal Trainer will notify you whether or not GST will be charged for their supply of training services.  If GST is to be charged, Positiv Flo will charge for the training services an amount which is inclusive of GST.</li>
</ol>

<h4>7.	Payment Service</h4>
<ol type="a">
	<li>Positiv Flo uses a third party service provider for provision of the payment service which is part of the Software Solution and Positiv Flo and is not liable for any issues, including charges from your Financial Institution, which may arise as a result of this service.</li>
	<li>You acknowledge that Positiv Flo will facilitate payment between you as the Client and your Personal Trainer, and Positiv Flo has no express or implied liability in regards to the goods or services provided by the Personal Trainer.  
	</li><li>Positiv Flo does not warrant that a Personal Trainer using the Software Solution is qualified to perform the services of a personal trainer (or any other services), nor does it warrant the nature or quality of the service being provided to you by the Personal Trainer in any way.</li>
	<li>Positiv Flo will not be held liable for any disputed transactions resulting in non-supply of goods and / or services.  Such disputes are solely between the Personal Trainer and the Client and must be directed to the Personal Trainer.</li> 
	<li>Positiv Flo is not party to any agreement or contract that you have with the Personal Trainer and is not liable under any such agreement or contract.</li>
	<li>You represent and warrant that you have authority to utilise the nominated credit card or debit card details of which are provided by you as part of the Client Data for the purpose of Positiv Flo charging for the fees payable under these Terms and Conditions.</li>
	<li>You acknowledge that it is your responsibility to ensure that there are sufficient cleared funds or financial capacity in Your Account at the time when Positiv Flo charges for the fees payable under these Terms and Conditions.</li>
	<li>Positiv Flo and the Personal Trainer will not be held responsible for any fees and charges imposed by your Financial Institution or any other third party that may be incurred if there are insufficient funds in Your Account or the payment fails. </li>
	<li>You should liaise with your Personal Trainer for all amendments to your Client Data and to the terms of payment of the Personal Trainer's fees, including your payment instructions, directly with your Personal Trainer.  These amendments will only be recorded as part of your registration when your Personal Trainer updates your Client Data through their account with Positiv Flo.  </li>
	<li>You authorise Positiv Flo to amend or vary the amount charged to Your Account from time to time (as agreed upon by you and your Personal Trainer) on receipt by Positiv Flo of instructions from the Personal Trainer, and you do not require Positiv Flo to notify you of changes prior to the next time that Positiv Flo charges Your Account for fees payable under these Terms and Conditions.</li>
</ol>

<h4>8.	Online Goods</h4>
<ol type="a">
	<li>Neither Positiv Flo nor the Personal Trainer make any formal recommendations nor have they carried out any due diligence on the suitability of the dietary products.  It is strongly recommended that you speak to a medical professional before considering such purchases.</li>
	<li>You are able to purchase goods from our online store through your Personal Trainer, who will be acting as our agent.  You can place an order for the purchase of goods online from Positiv Flo through your Personal Trainer.  The Personal Trainer will receive a commission on the sale. </li>
	<li>All prices for products are shown in Australian dollars, inclusive of GST where applicable, and are current at the time of display.  The display of goods for purchase in our online store is an invitation to treat only. </li>
	<li>You will receive an initial confirmation SMS for you to accept the order placed by the Personal Trainer at your request.  You must follow the instructions on the SMS to confirm or reject the purchase.  </li>
	<li>All orders placed are an offer of purchase and are subject to acceptance by Positiv Flo.  If an offer of purchase is accepted, Positiv Flo will send you an email confirming the order and will charge your debit card or credit card with the amount due for the transaction.  In that email you will also receive confirmation of the charges made to your credit or debit card and the tracking number which will enable you to check the status of the order.</li>
	<li>Positiv Flo reserves the right to refuse a purchase order without reason.  </li>
	<li>Orders will be packed and posted as soon as practically possible after receipt of cleared funds.  Orders will only be packaged and dispatched on Business Days and during Business Hours.</li>
	<li>Positiv Flo's shipping and handling fees are published on the Positiv Flo website and will be charged in addition to the price of the goods following confirmation of your order.  </li>
</ol>

<h4>9.	Security of Delivery and Returns Policy</h4>
<ol type="a">
	<li>A signature is required upon delivery of goods purchased online.  In the event no one is able to sign for the delivery of goods, a card will be left advising when and where the package may be collected.</li>
	<li>The Client may elect for delivery to be left without a signature by placing a note in the comments when placing the order through the Personal Trainer.  However, Positiv Flo assumes no responsibility for any lost or missing deliveries in this situation. </li>
	<li>If the Client wishes to claim for damaged goods or incorrect goods sent, please notify Positiv Flo via email <a href="mailto:returns@positivflo.com">returns@positivflo.com</a> within 24 hours of receiving the erroneous goods.  We will then endeavour to resolve the issue as soon as possible and will provide you with further instructions. </li>
	<li>In the event that the Client changes their mind, providing the goods are still in their original condition, they must notify Positiv Flo within 5 Business Days via email <a href="mailto:returns@positivflo.com">returns@positivflo.com</a> and Positiv Flo will instruct them on how to return the goods.  Positiv Flo will provide the Client with a full refund for the product invoiced less any shipping and handling cost incurred.</li>
</ol>

<h4>10.	Cancellation and Termination</h4>
<ol type="a">
	<li>You can cancel or deactivate your Positiv Flo registration at any time by <a href="mailto:support@positivflo.com">support@positivflo.com</a>.  Alternatively you can request your Personal Trainer to cancel or deactivate your registration. </li>
	<li>Positiv Flo has the right to suspend or terminate your registration and refuse use of the service without notice and without reason.  Termination of the service will result in the deactivation or deletion of your registration, or your access to your registration, and forfeiture of all content in your registration.</li>
</ol>

<h4>11.	Modifications to the Service and Pricing</h4>
<ol type="a">
	<li>Positiv Flo reserves the right to modify or discontinue, temporarily or permanently the Software Solution with or without notice. </li>
	<li>Fees and commission are subject to changes upon 21 days notice from Positiv Flo.  Such amendments will be posted on the Positiv Flo website <a href="http://www.positivflo.com/pricing">www.positivflo.com/pricing</a> or on the Software Solution itself.</li>
	<li>Positiv Flo may elect to have promotional sales and reduced rates of services.  The terms of these events will be posted on the Positiv Flo website <a href="http://www.positivflo.com">www.positivflo.com</a> or on the software solution itself. </li>
</ol>

<h4>12.	Your Warranties</h4>
<ol type="a">
	<li>By using Positiv Flo software, you represent and warrant to Positiv Flo that Positiv Flo will not be liable for any direct or indirect expense, damage or injury (including indirect loss of revenue, profits, goodwill or business opportunity) howsoever caused, including arising directly or indirectly from or in connection with these Terms and Conditions.</li>
	<li>You are entitled to rights under Australian Consumer Protection Law that cannot be excluded by contract. Subject to any of the rights you may have under Australian Consumer Protection Law, Positiv Flo excludes to the fullest extent possible all implied terms and warranties, whether statutory or otherwise, relating to the Software Solution or any other matter under these Terms and Conditions.</li>
</ol>

<h4>13.	General conditions</h4>
<ol type="a">
	<li>Your use of the Positiv Flo Software Solution is at your sole risk. The Software Solution is provided on an "as is" and "as available" basis.</li>
	<li>You understand that Positiv Flo uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, payment gateway and related technology required to run the Software Solution.</li>
	<li>You must not modify, adapt or hack the Software Solution or modify another website or software so as to falsely imply that it is associated with the Software Solution, or Positiv Flo.</li>
	<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Software Solution, use of the Software Solution, or access to the Software Solution without the prior express written permission of Positiv Flo.  Positiv Flo claims copyright over the Software Solution and reserves all of its rights.</li>
	<li>We may, but have no obligation to, remove content and accounts containing content that we determine in our sole discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms and Conditions.  However Positiv Flo accepts no responsibility to review such content.</li>
	<li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Positiv Flo customer, employee, member, representative, or officer will result in immediate account termination.</li>
	<li>You understand that the technical processing and transmission of the Software Solution, including your content, personal information and Cardholder Data, may be transferred unencrypted and involve:
	<ol type="i">
		<li>transmissions over various networks;
		</li><li>changes to conform and adapt to technical requirements of connecting networks or devices.
	</li></ol>
	</li>
	<li>You must not transmit any malware, worms or viruses or any code of any nature to, from or over the Software Solution.</li>
	<li>Positiv Flo does not warrant that:
	<ol type="i">
		<li>The Software Solution will meet your specific requirements;</li>
		<li>The Software Solution will be uninterrupted, timely, secure, or error-free;</li>
		<li>The results that may be obtained from the use of the Software Solution will be accurate or reliable;</li>
		<li>The quality of any products, services, information, or other material purchased or obtained by you through Positiv Flo will meet your expectations; and</li>
		<li>Any errors in the Software Solution will be corrected.</li>
	</ol>
	</li>
	<li>You expressly understand, agree and warrant that Positiv Flo shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Positiv Flo has been advised of the possibility of such damages), resulting from:
	<ol type="i">
		<li>the use or the inability to use the Software Solution;</li>
		<li>the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the Software Solution;</li>
		<li>unauthorised access to or alteration of your transmissions or data;</li>
		<li>statements or conduct of any third party on the Software Solution;</li>
		<li>or any other matter relating to the Software Solution.</li>
	</ol>
	</li>
	<li>The failure of Positiv Flo to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision. The Terms and Conditions constitute the entire agreement between you and Positiv Flo and govern your use of the Software Solution, superseding any prior agreements between you and Positiv Flo.</li>
	<li>Any part of these Terms and Conditions that is invalid, prohibited or not enforceable will not void the balance of the Terms and Conditions.  All other parts will be enforcement without regard to the invalid provision and continue to be valid in accordance with their terms.</li>
	<li>Positiv Flo makes no representations or warranties that the content of the Software Solution complies with the laws (including intellectual property laws) of any country outside Australia.</li>
	<li>Any queries about these Terms and Conditions should be sent to <a href="mailto:info@positivflo.com">info@positivflo.com</a>.  You may also refer to Positiv Flo's Website Terms for further information: <%= link_to terms_url("client"), terms_url("client") %>.</li>
</ol>