<% provide(:title, "Privacy Policy") %>
<h3>Privacy Policy</h3>

<h5>Dated: February 2015</h5>

<p>When you use Positiv Flo, either through the iOS application or the website, Positiv Flo Pty Ltd ACN 168 877 138 (referred to as "we", "our" and "us" in this Privacy Policy) will collect customer information from you, including Personal Information, to establish and manage your Positiv Flo account (for Personal Trainers) or registration (for Personal Training Clients) and for related purposes.  Without this information we may be limited in the service that we can provide you.</p>
<p>"Personal Information" means information or an opinion about an identified individual, or about an individual who is reasonably identifiable, whether the information or opinion is true or not, and whether the information or opinion is recorded in a material form or not.</p>
<p>We comply with the Australian Privacy Principles in the Privacy Act 1988 (Cth) (the Privacy Act), as well as other applicable laws protecting privacy.  All Personal Information that we handle is managed in accordance with those laws.</p>
<p>Other terms used in this Privacy Policy have the meaning given to them in the Positiv Flo Terms and Conditions for Personal Training Clients and the Positiv Flo Terms and Conditions for Personal Trainers.</p>

<h4>1.	Acceptance of Privacy Policy</h4>
<p>By providing us with Personal Information and/or by using Positiv Flo either directly as a Personal Trainer or indirectly as a Personal Training Client, you agree to the collection, holding, use and disclosure of your Personal Information as described in this Privacy Policy.  We may modify this Privacy Policy at any time and we recommend you check this page periodically so you are updated on any changes.  This Privacy Policy is in addition to the Positiv Flo Terms and Conditions for Personal Training Clients and the Positiv Flo Terms and Conditions for Personal Trainers and any other agreements applicable to the use of Positiv Flo. </p>
<p>If you do not agree to the terms of this Privacy Policy please contact us immediately and, in the meantime, refrain from providing us with any Personal Information and cease using Positiv Flo.</p>

<h4>2.	Amendments to Privacy Policy</h4>
<p>As we plan to keep our privacy policy current, this information can be subject to change. When appropriate, a revised privacy policy will be posted on our website which will incorporate any changes.  We recommend you return periodically to review the latest policy.</p>

<h4>3.	Personal Information collected by us</h4>
<p>When you create your Positiv Flo account as a Personal Trainer or you register with a Personal Trainer who utilises Positiv Flo as a Personal Training Client, we will ask you for a variety of Personal Information such as your name, date of birth, gender, email address, phone number, billing address, banking details, Australian Business Number and credit card information (as appropriate).  We may ask you about or collect further Personal Information about you on a case by case basis including as required or permitted by law.</p>

<h4>4.	How we collect Personal Information</h4>
<p>Generally we will collect information from the Personal Trainer, but may also collect information from a Personal Training Client directly in relation to the purchase of online goods or about an individual from a third party such as a contracting company or third party service provider:</p>
<ul>
<li>indirectly, from Personal Trainers using our application or website;</li>
<li>directly from you, as a Personal Trainer with a Positiv Flo account or as a Personal Training Client when ordering online goods through Positiv Flo, or when you otherwise provide it to us or our agents or contractors;</li>
<li>from publicly available resources; and</li>
<li>from third parties (where appropriate).</li>
</ul>

<h4>5.	Use of Personal Information</h4>
<h5>5.1 	General Use</h5>
<p>By opening an account with Positiv Flo as a Personal Trainer or by signing up as a Personal Training Client with a Personal Trainer who uses Positiv Flo, you authorise us to exchange your Personal Information with stakeholders and third party service providers including communications service providers, payment services providers and web hosts, for the purpose of providing the Positiv Flo Software Solution.  We will use reasonable endeavours to ensure that our third party service providers only use your Personal Information for this purpose.</p>
<p>The Personal Information we collect, hold, use and disclose is primarily gathered for:</p>
<ul>
	<li>establishing the Personal Trainer's personalised Positiv Flo account;</li>
	<li>establishing the Personal Training Client's client record;</li>
	<li>providing the Personal Trainer with a business management service;</li>
	<li>providing Personal Training Clients with online goods;</li>
	<li>tracking a Client’s fitness progress;</li>
	<li>facilitating payments between the Personal Trainer and the Client;</li>
	<li>sharing with you any updates, including any software updates;</li>
	<li>improving our services, including addressing any issues or problems with your use of Positiv Flo; </li>
	<li>answering any of your queries or otherwise contacting you regarding the Cardholder Data or Account Data you have provided and your use of Positiv Flo; and</li>
	<li>any other purpose disclosed to you at the time your Cardholder Data or Account Data is collected.</li>
</ul>
<p>Where appropriate, we may handle Personal Information relying on exemptions that are available under the Privacy Act and other applicable laws.</p>
<h5>5.2 	Marketing</h5>
<p>By opening an account using Positiv Flo or by registering with a Personal Trainer who uses Positiv Flo, you also authorise us to collect, hold, use and disclose your Personal Information for the purpose of direct marketing.</p>
<p>We may also sell or trade your Personal Information to third parties in order to facilitate direct marketing by that third party.  You may request us to stop facilitating the direct marketing of your Personal Information at any time by using the contact details set out at the end of this Privacy Policy.</p>
<p>On receipt of such direct marketing, you will receive instructions on how to unsubscribe from receiving any future marketing material from that party.  You may unsubscribe from receiving marketing materials at any time by contacting the relevant party or by electing to opt-out when you receive the materials.  If you have any questions or concerns with the offers you receive from a third party, please contact them directly to resolve any issues.</p>
<p>If you enter into a competition or other promotion you authorise us to collect, hold use and disclose the Personal Information you provide to enable your participation in the competition or other promotion.</p>
<p>When we contact you, we may do so via Positiv Flo, electronic messaging (including SMS and email), by mail, by phone or in any other lawful manner. </p>

<h4>6.	Disclosure of Personal Information</h4>
<p>For the purposes described in this Privacy Policy, we may disclose Personal Information, subject to any restrictions imposed by the Privacy Act and any other relevant legislation, covered by this Privacy Policy:	</p>
<ul>
<li>to our related bodies corporate (as appropriate);</li>
<li>to our stakeholders;</li>
<li>to our suppliers, service providers, professional advisers and agents including the following service providers:
<ul>
	<li>IT development;</li>
	<li>payment services providers;</li>
	<li>communications service providers;</li>
	<li>web service providers;</li>
	<li>maintenance providers;</li>
	<li>professional advisors such as lawyers, accountants and auditors; </li>
	<li>data storage providers;</li>
</ul>
</li>
<li>to government agencies or regulatory bodies where required;</li>
<li>to third parties for the purpose of facilitating direct marketing;</li>
<li>in the event of a reorganisation, merger or sale of our business (or any part thereof), we may transfer any and all Personal Information we collect to a relevant third party for the purpose of the arrangement;</li>
<li>where necessary to protect the rights or safety of any of its employees or a third party;</li>
<li>where an individual to whom the Personal Information relates has consented to the disclosure; or</li>
<li>where we are allowed or required to by law or have a public duty to do so, including compelled by a court or law enforcement.</li>
</ul>
<p>Subject to the exceptions set out in this Privacy Policy, we will not exchange your information with any third party for any other purpose.</p>

<h4>7.	Cookies and IP address tracking</h4>
<p>As you use Positiv Flo, certain information may be passively collected (that is, gathered without you actively providing the information) including your IP address, details of your computer system, browser details, details of the website you linked to our website from, geographical location information, pages visited (and for how long), and website functionality accessed.  However this information does not identify you as an individual, only the computer that you are using to view the site and your approximate geographic location.  We may also use cookies for remembering your name and login details and preferences, but not passwords.</p>
<p>We use various technologies including cookies, internet tags, web beacons and logs in order to improve and manage our site.  We do not use them to serve adverts or other promotional materials. </p>
<p>Positiv Flo may use and combine such passively collected information to improve our website, customise it based on your preferences, compile and analyse statistics and trends and otherwise administer and improve our website for your use.
</p><p>Positiv Flo may also disclose this de-identified information to third parties.</p>
<h4>8.	Does my personal information leave Australia?</h4>
<p>We may transfer personal information we have collected about you to someone other than you in a foreign country only if such a transfer is permitted by the Australian Privacy Principles.  This includes:	</p>
<ul>
	<li>if we are authorised to do so by law;</li>
	<li>when we use or disclose your personal information for any of the permitted purposes set out in this Privacy Policy; or</li>
	<li>if you have consented to us doing so.</li>
</ul>
<p>Positiv Flo will, if and to the extent required by the Privacy Act, take reasonable steps to ensure any overseas recipient does not breach the Australian Privacy Principles in relation to your personal information, unless we have a reasonable belief that the overseas recipient is subject to a law or binding scheme which is at least substantially similar to the Australian Privacy Principles and that you have mechanisms to take action to enforce any misuse of your personal information in that location.</p>

<h4>9.	Links to other sites</h4>
<p>Positiv Flo may contain links to other websites.  We do not make any representations about any third party websites that may accessible through Positiv Flo.</p>
<p>We are not responsible for the privacy practices or the content of such other websites.  The privacy policies applicable to such other websites may differ substantially from this Privacy Policy, so we advise individuals to read them before using those websites.  We will not be liable for any use of those websites.</p>

<h4>10.	Storage and security</h4>
<p>We have security protocols to safeguard Personal Information you share with us against loss, theft and misuse, as well as against unauthorised access, modification or disclosure of the Personal Information under our control.</p>
<p>Please note however that the internet is not a secure environment and although care is taken, we cannot guarantee the security of information provided to it via electronic means.</p>

<h4>11.	Access and correction</h4>
<p>As a Personal Trainer, you can access the Personal Information we collect in your account.  You can help ensure that your information is accurate, complete and up to date by logging in to your account.</p>
<p>As a Personal Training Client, you can access the Personal Information collected by your Personal Trainer through your Personal Trainer.  This includes ensuring that your information is accurate, complete and up to date by advising your Personal Trainer of any necessary changes. </p>
<p>We encourage you to not share your log in details including any password or personal identification details with anyone else.</p>

<h4>12.	Complaints handling</h4>
<p>If an individual wishes to make a complaint about the way we have handled his or her Personal Information (including if the individual believes we have breached the Privacy Act) the individual may do so by contacting us using the contact details set out at the end of this Privacy Policy.</p>
<p>If a complaint is made, please include your name and contact details such as an email address and telephone number and clearly describe the complaint.  We will investigate the complaint and respond promptly.  Resolution of your complaint may be delayed if we are unable to contact you.</p>
<p>If the complainant considers that we have failed to resolve the complaint satisfactorily, the complainant can complain to the Office of the Australian Information Commissioner (they can be contacted via email at: enquiries@oaic.gov.au).</p>

<h4>13.	Further information</h4>
<p>For further information about our privacy policies or practices please make contact using the contact details below:<br>
<a href="mailto:support@positivflo.com">support@positivflo.com</a></p>