<% provide(:title, "Trainer Terms") %>
<h3>Positiv Flo Terms and Conditions for Personal Trainers</h3>

<h4>1. Introduction</h4>
<ol type="a">
	<li>Positiv Flo Pty Ltd ("Positiv Flo") is an Australian Company (ACN 168 877 138) based in Western Australia that has developed an iOS application and integrated website.
	</li><li>Positiv Flo provides a software service through the iOS application and website that enables:
		<ol type="i">
			<li>Personal Trainers to accept bookings from their clients ("Clients") for training sessions, manage their business and otherwise schedule Client sessions and other appointments;</li>
			<li>the transfer of payments from a Client to the Personal Trainer who provided the Client with training services;</li>
			<li>the Personal Trainer to manage their own Client directory and information about their Clients in a secure and effective manner;</li>
			<li>the Personal Trainer to maintain their professional profile which is publicly available to existing and prospective clients through the website of Positiv Flo and enables them to seek out Personal Trainers;</li>
			<li>Positiv Flo to maintain a directory of Personal Trainers which is publicly available;</li>
			<li>Clients to purchase goods through the online store; and</li>
			<li>monitoring and reporting of a Client's personal fitness history and progress.</li>
		</ol>
	All of these services are collectively known as the "Software Solution". 
	</li><li>Each Personal Trainer should read these Terms and Conditions carefully prior to accessing the Software Solution.</li>
</ol>

<h4>2.	Acceptance of these Terms and Conditions</h4>
<ol type="a">
	<li>These terms and conditions record an agreement between you, as the Personal Trainer, and Positiv Flo for the purposes of you accessing and using services which are included within the Software Solution.</li>
	<li>By creating a Positiv Flo account you are agreeing to be bound by these Terms and Conditions.</li>
	<li>If you are executing these Terms and Conditions on behalf of a corporation or other legal entity, you represent that you have the authority to bind such entity and its subsidiaries to these Terms and Conditions.  </li>
	<li>Positiv Flo reserves the right to make changes to the Terms and Conditions from time to time without notice.  You will be able to discontinue and/or refrain from use of the Software Solution following such changes, should you choose to do so.  If you continue to access and use one of more of the Software Solution services after such changes this will constitute your acceptance of the changes.</li>
	<li>As the provider of the Software Solution, Positiv Flo reserves the right to terminate your account without notice should you violate these Terms and Conditions.</li>
	<li>These terms mean the following:
	<ol type="i">
		<li>"Business Days" are Monday through Friday inclusive, exclusive of public holidays recognised in Western Australia.
		</li><li>"Business Hours" are 8:30am to 5:30pm Australian Western Standard Time during Business Days.
		</li><li>"Financial Institution" means an institution that provides financial services for its clients or members, such as a bank.
		</li><li>"GST" has the same meaning as in A New Tax System (Goods and Services Tax) Act 1999 (Cth).
		</li><li>"Personal Trainer" or "you" means a fitness professional involved in exercise prescription and instruction who has an account with Positiv Flo.
	</li></ol>
	</li>
	<li>These Terms and Conditions are in accordance with the laws of Western Australia and the Commonwealth of Australia (as applicable). Disputes arising from your use of the Software Solution are exclusively subject to the jurisdiction of the courts of Western Australian and the Commonwealth of Australia (as applicable).</li>
</ol>

<h4>3.	License</h4>
<ol type="a">
	<li>Subject to these Terms and Conditions, Positiv Flo grants you a non-transferable, non-exclusive, royalty-free, worldwide license to install one copy of the Software Solution, in executable object code format only, solely on your iOS device and solely for your personal use of the Software Solution.  </li>
	<li>For the purpose of clause 3(a) "personal use" includes use for and in conjunction with your Clients as contemplated by these Terms and Conditions.</li>
</ol>

<h4>4.	Account Terms</h4>
<ol type="a">
	<li>At the time you register with Positiv Flo, various personal information will be collected from you including your correct legal name, a valid email address, your valid Australian mobile phone number, a valid Australian BSB and bank account number, a valid Australian Business Number and any other information requested of you to complete the sign up and account establishment process ("Account Data").  If you fail to supply sufficient and correct Accounts Data it may result in Positiv Flo refusing or cancelling your account registration with Positiv Flo.</li>
	<li>You agree to update your Account Data in a timely manner if there are any changes to one or more details in that Account Data to ensure that your Account Data held by Positiv Flo is current and accurate at all times.</li>
	<li>You agree to permit Positiv Flo to use the Account Data for the purpose of providing the functionality of the Software Solution and any related purpose. You acknowledge that in order to do so, Positiv Flo may share the Account Data with other parties, including stakeholders and suppliers, as provided for in these Terms and Conditions.</li>
	<li>You authorise Positiv Flo or its agent to collect on your behalf from your Client and credit the account at the relevant Financial Institution connected with the payment details identified and provided in your Account Data ("Your Account") your Personal Trainer's fees as charged by you to your Clients less the Positiv Flo fee in accordance with clause 7(a) and these Terms and Conditions. </li>
	<li>When you register with Positiv Flo, you will be provided with a login and will be asked to choose a password.  Your login may only be used by one person, and sharing that login among multiple users is not permitted.  </li>
	<li>You are solely responsible for maintaining the security of your login and account password.  Positiv Flo is not liable for any loss or damage arising from or related to your failure to comply with this security obligation.</li>
	<li>You are solely responsible for all activities that occur on your account with Positiv Flo.  Positiv Flo will not be liable for any loss or damage arising from or related to activities on your account.</li>
	<li>You agree to use the Positiv Flo software for its intended purpose.  You may not use the software for any illegal or unauthorised purpose, including the transmission of malware.  You must not use the service to violate any laws in your jurisdiction, including but not limited to copyright laws.</li>
</ol>

<h4>5.	Data Ownership and Use</h4>
<ol type="a">
	<li>All Account Data will be stored and maintained by or on behalf of Positiv Flo in accordance with Australian law. </li>
	<li>Positiv Flo's use of any personal information contained within the Account Data will be in accordance with its Privacy Policy, a copy of which is available on the Positiv Flo website at www.positivflo.com/privacy.</li>
	<li>You acknowledge that all content and information relating to Clients recorded within the Software Solution, including their training habits and preferences, fitness and workout progress and purchases, are the sole property of Positiv Flo.</li>
</ol>

<h4>6.	Notifications and Scheduling of Personal Training Appointments</h4>
<ol type="a">
	<li>Once a personal training appointment has been arranged between you and your Client, an automated SMS notification will be sent by Positiv Flo or its agent to the Client (in accordance with the details provided in their Client Data) 48 hours before the scheduled personal training appointment.  </li>
	<li>The Client must then follow the instructions on the SMS notification to accept or reject the appointment no later than 24 hours prior to the scheduled start time of their appointment.  </li>
	<li>At least 24 hours' notice, via the instructions on the SMS notification, must be given by the Client to cancel the appointment.  Subject to clause 6(e) below, the Client will be charged the full cost of your personal training appointment and any associated fees if they (i) cancel that appointment less than 24 hours prior to its scheduled start time; or (ii) fail to respond to the SMS notification prior to the time which is 24 hours prior to the start time of the scheduled appointment.  </li>
	<li>If for any reason your Client is not able to follow the instructions on the SMS notification, such as the website being down for maintenance, they must provide notification to you in writing (for example, by SMS or email) either accepting or rejecting the appointment no less than 24 hours prior to the scheduled start time of the appointment.  You must inform Positiv Flo immediately if you receive this notification in writing for, if you do not, the Client may be charged fees in the manner provided in clause 6(c) above.  The provisions of this clause 6 otherwise apply.</li>
	<li>If the Client (i) cancels an appointment less than 24 hours prior to its scheduled start time; or (ii) fails to respond to the SMS notification prior to the time which is 24 hours prior to the start time of the scheduled appointment, you have the right to offer the proposed time to another Client.  If you are able to arrange an alternate personal training appointment at the time which was scheduled for the Client's appointment, you must notify Positiv Flo immediately by scheduling the alternate appointment through the Positiv Flo system, and in these circumstances the Client will not be charged for the appointment which they cancelled or for which they failed to respond to the SMS notification.  </li>
</ol>

<h4>7.	Payment Terms for Personal Training Services</h4>
<ol type="a">
	<li>Fees for use of the Software Solution and any other amounts payable for Positiv Flo's services are published on the Positiv Flo website and are charged in Australian Dollars.  Positiv Flo reserves the right to amend this pricing from time to time at its discretion.  The fee which you charge the Client is agreed between you and the Client.</li>
	<li>Positiv Flo will charge the Client for the Personal Trainer's fee per training session plus an additional fee payable to Positiv Flo in relation to each training session for the Client's use of the Software Solution.  The total of fees payable under clause 6(c) and this clause 7(b) for each training session during the calendar week Saturday to Friday inclusive will be charged to the Client on the Friday which concludes that calendar week. </li>
	<li>Additionally, Positiv Flo will charge you a fee in relation to each training session for use of the Software Solution.  This fee will be deducted from the Personal Trainer's fees collected by Positiv Flo from the Client.  The remaining balance of the Personal Trainer's fees will be deposited into Your Account no later than five Business Days after the Client's payment of the applicable fees.</li>
	<li>The amount deposited into Your Account will appear on your bank account statement with the name "Positiv Flo". </li>
	<li>Any request for a refund for, or dispute in relation to, personal training fees is a matter between the Client and you.  Positiv Flo has no obligation or responsibility in respect of any such request or dispute.</li>
	<li>If sufficient funds are not available in the Client's nominated financial account at the time of processing a payment, or there is an inaccuracy in the data the Client has provided at the time of registration, at the time when the total fees payable for the week are charged to their bank account in accordance with clause 6(c) and clause 7(b) above, such that Positiv Flo cannot complete the process of charging the fees as provided for under the Terms and Conditions for Personal Training Clients: 
	<ol type="i">
		<li>Positiv Flo will issue an SMS notification to the Client informing them that the fees could not be charged to their bank account and requesting that they rectify the situation in order to allow Positiv Flo to charge the fees as provided for under the Terms and Conditions for Personal Training Clients by 12.00pm on the following Business Day.  The Client will be asked to rectify any inaccuracy in their data directly with you by way of your account registration with Positiv Flo.  You will be notified by email that the Client has missed the payment.</li>
		<li>A fee (as notified in accordance with clause 7(a) above) may be charged by Positiv Flo to the Client to cover reasonable administrative and processing costs resulting from a declined payment. </li>
		<li>Positiv Flo may charge the Client interest on all late payments at a rate of 15% per annum.</li>
		<li>Positiv Flo will repeat the attempt to charge the fees payable under clause 7(b) above at 12:00pm on the following Business Day.  If on this second attempt Positiv Flo again cannot complete the process of charging the fees as provided for under these Terms and Conditions, the fees payable will be considered "late" and this will constitute a breach of the Terms and Conditions for Personal Training Clients.  </li>
	</ol>
	</li><li>Positiv Flo will notify you when a Client has a late payment under clause 7(f)(iv), in which case you must deactivate the Client from your Client registry until such time Positiv Flo notifies you that the payment has been received.</li>
	<li>Any late or outstanding payment will remain as a debt owed to you and to Positiv Flo.  Positiv Flo retains its right to recover debts owed and may use debt recovery processes to do so.</li>
	<li>The Personal Trainer's collection of debts owed to him/her is his/her sole responsibility and Positiv Flo will not be liable to the Personal Trainer for either the late payment itself or its recovery.</li>
	<li>Positiv Flo has no responsibility for any liability for GST which you incur by reason of your supply of services to Clients.  You will be required to notify the Client of the GST payable for your supply of training services.  At registration with Positiv Flo you will be asked to nominate whether you will charge GST to your Clients.  If you nominate that you will charge GST to your Clients, Positiv Flo will handle all fees received from those Clients as inclusive of GST.  If you nominate that you will not charge GST to your Clients, Positiv Flo will handle all fees received from those Clients as exclusive of GST.</li>
</ol>

<h4>8.	Payment Service</h4>
<ol type="a">
	<li>Positiv Flo uses a third party service provider for provision of the payment service which is part of the Software Solution and Positiv Flo and is not liable for any issues, including charges from your Financial Institution, which may arise as a result of this service.</li>
	<li>You acknowledge that Positiv Flo will facilitate payment between you as the Personal Trainer and your Client, and has no express or implied liability in regards to the goods or service(s) provided by you.  </li>
	<li>Positiv Flo will not be held liable for any disputed transactions resulting in non-supply of goods and / or services.  Such disputes are solely between you and the Client and must be dealt with by you. </li>
	<li>Positiv Flo is not party to any agreement or contract that the Client has directly with you and is not liable under any such agreement or contract.</li>
	<li>Positiv Flo will not be held responsible for any fees and charges imposed by your Financial Institution or any other third party that may be incurred if there is a failure in depositing funds into your nominated bank account. </li> 
	<li>You authorise Positiv Flo to re-process any unsuccessful payments at its earliest convenience.</li>
	<li>Payments will be processed on Business Days, and payments may be delayed if there is a public holiday on the day the payment falls due.</li>
	<li>You may amend your payment instructions at any time within the Software Solution.  </li>
</ol>

<h4>9.	Online Goods</h4>
<ol type="a">
	<li>Positiv Flo makes no formal recommendations nor have they carried out any due diligence on the suitability of the dietary products.  It is strongly recommended that your Client speak to a medical professional before considering such purchases.</li>
	<li>You assist the Client in purchasing goods through the Software Solution by placing the order for them using your login, and for this service, you will receive a commission on any confirmed and completed order.</li>
	<li>All prices for products are shown in Australian dollars, inclusive of GST where applicable, and are current at the time of display.</li>
	<li>Once Positiv Flo receives the order from you, the Client will receive an initial confirmation SMS to the Client to allow them to accept or reject the order you have placed on their behalf.  The Client must follow the instructions on the order to confirm or reject the purchase. </li> 
	<li>The display of goods for purchase in our online store is an invitation to treat only. </li>
	<li>All orders placed are an offer of purchase and are subject to acceptance by Positiv Flo, if an offer of purchase is accepted, Positiv Flo will issue a confirmation of order.  Positiv Flo will send the Client an email confirming the order and will charge the nominated debit card or credit card with the amount due under the transaction.  In the email to the Client confirming the order, the Client will also receive confirmation of the charges made to their credit or debit card and the tracking number which will enable the Client to check the status of the order.</li>
	<li>Positiv Flo reserves the right to refuse a purchase order without reason.  </li>
	<li>Orders will be packed and posted as soon as practically possible after receipt of cleared funds.  Orders will only be packaged and dispatched on Business Days and during Business Hours.</li>
	<li>Positiv Flo's shipping and handling fees are published on the Positiv Flo website and will be charged in addition to the price of the goods following confirmation of the Client's order.  </li>
</ol>

<h4>10.	Security of Delivery and Returns Policy</h4>
<ol type="a">
	<li>A signature is required upon delivery.  In the event no one is able to sign for the delivery of goods, a card will be left advising when and where the package may be collected.</li>
	<li>The Client may elect for delivery to be left without a signature by placing a note in the comments when placing the order through the Personal Trainer.  However, Positiv Flo assumes no responsibility for any lost or missing deliveries in this situation. </li>
	<li>If the Client wishes to claim for damaged goods or incorrect goods sent, please notify Positiv Flo via email <a href="mailto:returns@positivflo.com">returns@positivflo.com</a> within 24 hours of receiving the erroneous goods.  We will then endeavour to resolve the issue as soon as possible and will provide the Client with further instructions.</li>
	<li>In the event that the Client changes their mind, they must notify Positiv Flo within 5 Business Days via email <a href="mailto:returns@positivflo.com">returns@positivflo.com</a> and Positiv Flo will instruct the Client on how to return the goods, providing the goods are still in their original condition.  Positiv Flo will provide the Client with a full refund for the product invoiced less any shipping and handling cost incurred.</li>
</ol>

<h4>11.	Cancellation and Termination</h4>
<ol type="a">
	<li>You can cancel or deactivate your Positiv Flo account at any time by <a href="mailto:support@positivflo.com">support@positivflo.com</a> or directly through the Software Solution. </li>
	<li>You can cancel or deactivate your Client's registration through the Software Solution or by emailing <a href="mailto:support@positivflo.com">support@positivflo.com</a> if requested to do so by the Client or if you terminate your relationship with the Client. </li>
	<li>Positiv Flo has the right to suspend or terminate your account and refuse use of the service without notice and without reason.  Termination of the service will result in the deactivation or deletion of your account, or your access to your account, and forfeiture of all content in your account.</li>
</ol>

<h4>12.	Modifications to the Service and Pricing</h4>
<ol type="a">
	<li>Positiv Flo reserves the right to modify or discontinue, temporarily or permanently the Software Solution with or without notice. </li>
	<li>Fees and commission are subject to changes upon 21 days notice from Positiv Flo.  Such amendments will be posted on the Positiv Flo website www.positivflo.com/pricing or on the Software Solution itself.</li>
	<li>Positiv Flo may elect to have promotional sales and reduced rates of services.  The terms of these events will be posted on the Positiv Flo website www.positivflo.com or on the software solution itself. </li>
</ol>

<h4>13.	Your Warranties</h4>
<ol type="a">
	<li>By using Positiv Flo software, you represent and warrant to Positiv Flo that Positiv Flo will not be liable for any direct or indirect expense, damage or injury (including indirect loss of revenue, profits, goodwill or business opportunity) howsoever caused, including arising directly or indirectly from or in connection with these Terms and Conditions.</li>
	<li>You are entitled to rights under Australian Consumer Protection Law that cannot be excluded by contract. Subject to any of these rights you may have under Australian Consumer Protection Law, Positiv Flo excludes to the fullest extent possible all implied terms and warranties, whether statutory or otherwise, relating to the Software Solution or any other matter under these Terms and Conditions.</li>
</ol>

<h4>14.	General conditions</h4>
<ol type="a">
	<li>Your use of the Positiv Flo Software Solution is at your sole risk. The Software Solution is provided on an "as is" and "as available" basis.</li>
	<li>You understand that Positiv Flo uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, payment gateway and related technology required to run the Software Solution.</li>
	<li>You must not modify, adapt or hack the Software Solution or modify another website or software so as to falsely imply that it is associated with the Software Solution, or Positiv Flo.</li>
	<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Software Solution, use of the Software Solution, or access to the Software Solution without the express written permission of Positiv Flo. Positiv Flo claims copyright over the Software Solution and reserves all of its rights.</li>
	<li>We may, but have no obligation to, remove content and accounts containing content that we determine in our sole discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms and Conditions. However, Positiv Flo accepts no responsibility to review such content.</li>
	<li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Positiv Flo customer, employee, member, representative, or officer will result in immediate account termination.</li>
	<li>You understand that the technical processing and transmission of the Software Solution, including your content, may be transferred unencrypted and involve:
	<ol type="i">
		<li>transmissions over various networks;</li>
		<li>changes to conform and adapt to technical requirements of connecting networks or devices.</li>
	</ol>
	</li>
	<li>You must not transmit any malware, worms or viruses or any code of any nature to, from or over the Software Solution.</li>
	<ol type="i">
		<li>Positiv Flo does not warrant that:</li>
		<li>The Software Solution will meet your specific requirements;</li>
		<li>The Software Solution will be uninterrupted, timely, secure, or error-free;</li>
		<li>The results that may be obtained from the use of the Software Solution will be accurate or reliable;</li>
		<li>The quality of any products, services, information, or other material purchased or obtained by you through Positiv Flo will meet your expectations; and</li>
	</ol>
	<li>Any errors in the Software Solution will be corrected.</li>
	<li>You expressly understand, agree and warrant that Positiv Flo shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Positiv Flo has been advised of the possibility of such damages), resulting from:
	<ol type="i">
		<li>the use or the inability to use the Software Solution;
		</li><li>the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the Software Solution;
		</li><li>unauthorised access to or alteration of your transmissions or data;
		</li><li>statements or conduct of any third party on the Software Solution;
	</li></ol>
	</li>
	<li>or any other matter relating to the Software Solution.</li>
	<li>The failure of Positiv Flo to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision. The Terms and Conditions constitute the entire agreement between you and Positiv Flo and govern your use of the Software Solution, superseding any prior agreements between you and Positiv Flo.</li>
	<li>Any part of these Terms of Service this is invalid, prohibited or not enforceable will not void the balance of the Terms and Conditions.  All other parts will be enforcement without regard to the invalid provision and continue to be valid in accordance with their terms.</li>
	<li>Positiv Flo makes no representations or warranties that the content of the Software Solution complies with the laws (including intellectual property laws) of any country outside Australia.</li>
	<li>Any queries about the Terms and Conditions should be sent to <a href="mailto:info@positivflo.com">info@positivflo.com</a></li>
</ol>

<h4>15.	Website Terms and Privacy Policy</h4>
<ol type="a">
	<li>You may also refer to Positiv Flo's Website Terms for further information. Personal information (such as your contact details) provided to Positiv Flo during your use of the Services will be kept and used by Positiv Flo in accordance with Positiv Flo's Privacy Policy.</li>
	<li>Positiv Flo's Website Terms and Privacy Policy can be found at <%= link_to terms_url("trainer"), terms_url("trainer") %> and <%= link_to terms_url("privacy"), terms_url("privacy") %>.</li>
</ol>